DATABASE_URL="postgresql+psycopg2://<user>:<password>@<ep-hostname>.neon.tech/<dbname>?sslmode=require"

JWT_SECRET="super-secret-jwt-key"
ENVIRONMENT="DEV"

SENDGRID_API_KEY="your-sendgrid-key"
FROM_EMAIL="your-verified-sender@email.com"